<%- include("partials/header") -%>


<h1><%= displayPost.title %></h1>
<p><%= displayPost.intro %></p>
<%- displayPost.content   %>
<div class="container-fluid padder">
<%- include("partials/footer") -%>
</div>

<%- include("partials/footer") -%>
